<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <src>English</src>
  <dst>Swedish</dst>
  <languages>
    <Language>
      <name>Afrikaans</name>
      <code>af</code>
    </Language>
    <Language>
      <name>Albanian</name>
      <code>sq</code>
    </Language>
    <Language>
      <name>Arabic</name>
      <code>ar</code>
    </Language>
    <Language>
      <name>Belarusian</name>
      <code>be</code>
    </Language>
    <Language>
      <name>Bulgarian</name>
      <code>bg</code>
    </Language>
    <Language>
      <name>Catalan</name>
      <code>ca</code>
    </Language>
    <Language>
      <name>Chinese</name>
      <code>zh-CN</code>
    </Language>
    <Language>
      <name>Croatian</name>
      <code>hr</code>
    </Language>
    <Language>
      <name>Czech</name>
      <code>cs</code>
    </Language>
    <Language>
      <name>Danish</name>
      <code>da</code>
    </Language>
    <Language>
      <name>Dutch</name>
      <code>nl</code>
    </Language>
    <Language>
      <name>English</name>
      <code>en</code>
    </Language>
    <Language>
      <name>Estonian</name>
      <code>et</code>
    </Language>
    <Language>
      <name>Filipino</name>
      <code>tl</code>
    </Language>
    <Language>
      <name>Finnish</name>
      <code>fi</code>
    </Language>
    <Language>
      <name>French</name>
      <code>fr</code>
    </Language>
    <Language>
      <name>Galician</name>
      <code>gl</code>
    </Language>
    <Language>
      <name>German</name>
      <code>de</code>
    </Language>
    <Language>
      <name>Greek</name>
      <code>el</code>
    </Language>
    <Language>
      <name>Haitian Creole ALPHA</name>
      <code>ht</code>
    </Language>
    <Language>
      <name>Estonian</name>
      <code>et</code>
    </Language>
    <Language>
      <name>Hebrew</name>
      <code>iw</code>
    </Language>
    <Language>
      <name>Hindi</name>
      <code>hi</code>
    </Language>
    <Language>
      <name>Hungarian</name>
      <code>hu</code>
    </Language>
    <Language>
      <name>Icelandic</name>
      <code>is</code>
    </Language>
    <Language>
      <name>Indonesian</name>
      <code>id</code>
    </Language>
    <Language>
      <name>Irish</name>
      <code>ga</code>
    </Language>
    <Language>
      <name>Italian</name>
      <code>it</code>
    </Language>
    <Language>
      <name>Japanese</name>
      <code>ja</code>
    </Language>
    <Language>
      <name>Korean</name>
      <code>ko</code>
    </Language>
    <Language>
      <name>Latvian</name>
      <code>lv</code>
    </Language>
    <Language>
      <name>Lithuanian</name>
      <code>lt</code>
    </Language>
    <Language>
      <name>Macedonian</name>
      <code>mk</code>
    </Language>
    <Language>
      <name>Malay</name>
      <code>ms</code>
    </Language>
    <Language>
      <name>Maltese</name>
      <code>mt</code>
    </Language>
    <Language>
      <name>Norwegian</name>
      <code>no</code>
    </Language>
    <Language>
      <name>Korean</name>
      <code>ko</code>
    </Language>
    <Language>
      <name>Persian</name>
      <code>fa</code>
    </Language>
    <Language>
      <name>Polish</name>
      <code>pl</code>
    </Language>
    <Language>
      <name>Portuguese</name>
      <code>pt</code>
    </Language>
    <Language>
      <name>Romanian</name>
      <code>ro</code>
    </Language>
    <Language>
      <name>Russian</name>
      <code>ru</code>
    </Language>
    <Language>
      <name>Slovak</name>
      <code>sk</code>
    </Language>
    <Language>
      <name>Slovenian</name>
      <code>sl</code>
    </Language>
    <Language>
      <name>Spanish</name>
      <code>es</code>
    </Language>
    <Language>
      <name>Swahili</name>
      <code>sw</code>
    </Language>
    <Language>
      <name>Swedish</name>
      <code>sv</code>
    </Language>
    <Language>
      <name>Thai</name>
      <code>th</code>
    </Language>
    <Language>
      <name>Turkish</name>
      <code>tr</code>
    </Language>
    <Language>
      <name>Ukrainian</name>
      <code>uk</code>
    </Language>
    <Language>
      <name>Vietnamese</name>
      <code>vi</code>
    </Language>
    <Language>
      <name>Welsh</name>
      <code>cy</code>
    </Language>
    <Language>
      <name>Yiddish</name>
      <code>yi</code>
    </Language>
  </languages>
</Settings>